$blue: #020B14;
$red: #FE4A49;
h1, h2, h3, h4, h5, h6,p, a { /*reset for mobile browsers */

    font-weight: normal;
    
    }
@font-face {
    src: url(fonts/tommy.otf);
    font-family: tommy;
}

@font-face {
    src: url(fonts/tommylight.OTF);
    font-family: tommylight;
}

::-moz-selection {
    background: rgba($red, 0.99);
    color: $blue
}

::selection {
    background: rgba($red, 0.99);
    color: $blue
}

body,
html {
    overflow-x: hidden;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.head {
    z-index: 1000000 !important;
}

.head-logo {
    position: fixed;
    width: 10vh;
    top: 5vh;
    left: 6vh;
    z-index: 1000000;
    z-index: 1000000 !important;

}

.nav-button {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
    top: 8vh;
    right: 7vh;
    z-index: 1000000 !important;
}

.nav-button span {
    width: 100px;
    height: 16px;
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
    z-index: 1000000 !important;

}

.nav-button.open .nav-button-top {
    transition: 0.3s;
    background-color: $red;
    transform: translateY(32px) rotate(45deg);
    z-index: 1000000 !important;

}

.nav-button.open .nav-button-mid {
    transition: 0.3s;
    transform: translateY(40px);
    opacity: 0;
    z-index: 1000000 !important;

}

.nav-button.open .nav-button-bot {
    transition: 0.3s;
    background-color: $red;
    transform: translateY(-32px) rotate(315deg);
}

.desktop {
    display: none;
}

.mobile {
    position: fixed;
    top: -100vh;
    height: 100%;
    background-color: $blue;
    width: 100%;
    transition: 0.3s;
    z-index: 10000 !important;

}

.mobile.open {
    transition: 0.3s;
    top: 0vh;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
    height: 60%;
    position: relative;
    top: 30vw;
    z-index: 100 !important;

}

.nav-links a {
    width: 100%;
    font-family: tommy;
    font-size: 9em;
    transition: 0.3s;
    z-index: 100 !important;
}

.nav-links a:hover {
    color: $red !important;
    transition: 0.3s;
}

@media screen and (min-width: 1000px) {

    .mobile,
    .nav-button {
        display: none !important;
    }

    .desktop {
        display: inline-block;
        position: fixed;
        top: 0;
        width: 100%;
        transition: 0.3s;
        z-index: 1000000 !important;

    }

    .desktop.open {
        transition: 0.3s;
        top: 0vh;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        justify-content: flex-end;
        width: 100%;
        margin: auto;
        height: auto;
        position: absolute;
        top: 8vh;
        z-index: 10000 !important;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-links a {
        width: auto;
        padding: 0 0.5%;
        margin-right: 5vh;
        font-family: tommy;
        font-size: 2em;
        z-index: 100 !important;

    }
}

.home-contain {
    height: 100vh;
    width: 100%;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.home {
    height: 100vh;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.3);
}

.home-text {
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.home-text h1 {
    font-family: tommy;
    font-size: 13rem;
    line-height: 0.8em;
    color: white;
    padding-bottom: 1vh;
}

.home-text div {
    width: 100%;
}

.small-head {
    font-family: tommy;
    font-size: 2.5em;
    line-height: 0.9em;
    color: $red !important;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    .home-text {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .home-text div {
        width: 100%;
    }

    .home-text h1 {
        font-family: tommy;
        font-size: 9rem;
        line-height: 0.8em;
        color: white;
        padding-bottom: 1vh;
    }

    .small-head {
        font-family: tommy;
        font-size: 1.94em;
        line-height: 0.9em;
        color: $red;
        text-transform: uppercase;
    }
}

.button {
    background: $red;
    padding: 20px 30px;
    font-family: tommy;
    font-size: 1.3em;
}

.heading {
    font-family: tommy;
    font-size: 5rem;
    line-height: 0.8em;
    color: white;
    padding-bottom: 1vh;
    line-height: 1em;
}

.p {
    font-family: tommylight;
    font-size: 1.3rem;
    line-height: 1.3em;
    color: white;
    padding-bottom: 1vh;
    margin: 20px 0;
}

.custom-workouts {
    background-color: $blue;
    height: 90vh;
}

.custom-text {
    position: relative;
    top: 30%;
    left: 10%;
    width: 35%;
}

.custom-img {
    z-index: 2;
}

.custom-img img {
    z-index: 1 !important;
    width: 34%;
    position: absolute;
    top: 110vh;
    right: 5vw;
}

.nutrition {
    background-color: white;
    height: 90vh;
}

.nutrition-text {
    position: relative;
    top: 40%;
    left: 50%;
    width: 40%;
}

.nutrition-img {
    z-index: 2;
}

.nutrition-img img {
    z-index: 1 !important;
    width: 34%;
    position: absolute;
    top: 200vh;
    left: 5vw;
}

.nutritiontext {
    text-align: right;
    color: $blue
}



.ready {
    background-color: $red;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.readytext {
    color: white !important;
}

.ready div {
    text-align: center;
}

.readybutton {
    position: relative;
    background: $blue;
    padding: 20px 30px;
    font-family: tommy;
    font-size: 1.3em;
    top: 70px;
}

@media screen and (max-width: 1000px) {

    .button {
        background: $red;
        padding: 20px 30px;
        font-family: tommy;
        font-size: 2.5em;
    }

    .heading {
        font-family: tommy;
        font-size: 14vw;
        line-height: 0.8em;
        color: white;
        padding-bottom: 1vh;
        line-height: 1em;
    }

    p {
        font-family: tommylight;
        font-size: 6vw !important;
        line-height: 1.3em;
        color: white;
        padding-bottom: 1vh;
        margin: 20px 0;
    }

    .custom-workouts {
        background-color: $blue;
        height: auto;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto;
    }

    .custom-text {
        position: relative;
        width: 80% !important;
        top: 0;
        padding: 30% 0;
    }

    .custom-img {
        z-index: 2;
        grid-row: 2;
        padding: 0 0 10% 0;
    }

    .custom-img img {
        z-index: 1 !important;
        width: 80% !important;
        position: relative;
        top: 0 !important;
        left: 10% !important;
    }

    .nutrition {
        background-color: white;
        height: auto;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto auto;
    }

    .nutrition-text {
        position: relative;
        top: 0;
        left: 0;
        width: 80%;
        margin: auto;
        padding: 30% 0 15%;
    }

    .nutrition-img {
        z-index: 2;
        grid-row: 2;
        padding: 0 0 10% 0;
    }

    .nutrition-img img {
        z-index: 1 !important;
        width: 80%;
        position: relative;
        top: 0;
        left: 10%;

    }

    .nutritiontext {
        text-align: left;
        color: $blue
    }

    .ready {
        background-color: $red;
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .readytext {
        color: white !important;
        width: 100%;
        font-size: 14vw;
        margin: auto
    }

    .ready div {
        text-align: center;
        width: 80%;
    }

    .readybutton {
        position: relative;
        background: $blue;
        padding: 20px 30px;
        font-family: tommy;
        font-size: 3em;
        top: 70px;
    }
}

.about-contain {
    height: 100vh;
    width: 100%;
    background: url(img/about.jpg);
    background-position: center;
    background-size: cover;
}

.about-certs {
    width: 80%;
    padding: 10vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.about-certs div {
    padding: 2% 0;
}

.about-certs div h1,
.about-certs div p {
    color: $blue;
}

.about-block {
    background-color: $blue;
    padding: 10%;
}

.about-block div {
    width: 80%;
    margin: auto;
    padding: 3% 0;
}

@media screen and (max-width: 1000px) {

    .about-block div,
    .about-certs {
        width: 100%;
        font-size: 2.5em !important;
        text-align: center;
        padding: 10% 0;
    }

    .about-block div h1,
    .about-certs h1 {
        font-size: 13vw;
    }

    .about-block div p,
    .about-certs p {
        font-size: 4vw;
    }

    .about-contain h1 {
        font-size: 17vw !important;
    }

    .about-contain p {
        font-size: 6vw !important;
    }

    .about-certs {
        width: 80%;
        margin: auto;
        padding: 10vh 0;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        text-align: center;
    }

    .about-certs div {
        padding: 10% 0;
    }

    .certs-h1 {
        width: 100%;
        font-size: 9vw !important;
        text-align: center !important;
    }
}

.connect-block {
    height: 100vh;
    width: 100%;
    background: $red;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect-block p {
    color: $blue !important;
}
@media screen and (max-width: 1000px) {
    .connect-block {
        height: 100vh;
        width: 100%;
        background: $red;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .connect-block div {
        width: 80%;
        text-align: center;
    }
    .connect-block p {
        color: $blue !important;
    }
    .connect-block a {
        font-size: 4vw !important;
        z-index: 0 !important;
    }
}


footer {
    width: 100%;
    height: 20vh;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 20%;
    margin: 0 3%;
}

.issa {
    width: 5%;
}

.au {
    width: 40px;
    opacity: 0.25;
}

.au-link {
    position: absolute;
    right: 5%;
}

@media screen and (max-width: 1000px) {
    footer {
        width: 100%;
        padding: 10% 0;
        height: auto;
        background: $blue;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    footer img {
        width: 80%;
        margin: 5% 3%;
    }

    .issa {
        width: 30%;
    }

    .au {
        width: 20%;
        opacity: 0.25;
    }

    .au-link {
        position: relative;
        left: 34%;
    }
}
